html, body {
  height: 100%;
}

.flex {
  display: flex;
}

form#join-container {
  margin: auto;
  padding-bottom: 20%;
}

input {
  height: 36px;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
}
.input-and-button {
  font-size: 0;
}
.input-and-button > input[type="text"] {
  border-radius: 3px 0 0 3px;
  border-right: none;
  outline: none;
}
.input-and-button > input[type="submit"] {
  border-radius: 0 3px 3px 0;
  padding: 0 10px;
  cursor: pointer;
  background: white;
}

body.room {
  display: flex;
  margin: 0;
  height: 100%;
}

.room #peer_videos {
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.room #peer_videos > video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.room #sidebar {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0px 5px;
  width: 20%;
}
.room #chat_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.room #chat_wrapper > #chatbox {
  flex-grow: 1;
  border: 1px solid #d6d6d6;
  font-family: sans-serif;
  padding: 5px;
}
.room #chat_wrapper > #chatbox > span {
  display: block;
}
.room #chat_wrapper > input {
  border-top: none;
  border-radius: 0 3px 3px 0;
  outline: none;
}
.room video#vid_self {
  max-height: 40%;
  max-width: 100%;
  padding: 5px 0px;
}

body[data-layout="top-right"] #sidebar, [data-layout="top-left"] #sidebar {
  flex-direction: column-reverse;
  margin: 0px 5px 5px 5px;
}
body[data-layout="bottom-left"], body[data-layout="top-left"] {
  flex-direction: row-reverse;
}

button.mute-button {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 35px);
  border: 1px solid #AAA;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 40px;
  padding: 5px;
}

.mute-button svg {
  height: 100%;
}

.mute-button.mute-disabled {
  opacity: 0.2;
}
.mute-button.mute-disabled:hover {
  opacity: 1;
}
.mute-button.mute-enabled {
  background: red;
  border-color: red;
}
.mute-button.mute-enabled svg{
  fill: white;
  stroke: white;
}
